@font-face {
    font-family: lobo;
    src: url("./RightGrotesk-CompactBlack.otf");
}
@font-face {
    font-family: lobo1;
    src: url("./RightGrotesk-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    width: 100%;
    
    
}

#main{
    height: 100%;
    width: 100%;
    background-color: red;
    background-image: url("https://images.prismic.io/yubo/6118791b-2978-4f39-bc06-0d5d43cd6e93_LargeGraphics.webp?auto=compress,format&rect=0,0,1600,900&w=1680&h=945");
    /* background-position: center; */
    background-size:cover;
    object-fit: cover;
    position: relative;
    overflow-x: hidden;
    
}
#page1{
    height:100%;
    width:100%;
    
    /* background-color: green; */
   


}

#nav{
    height:23%;
    width:100%;
    /* background-color: rgb(167, 102, 102); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap:560px;
    position: fixed;
    z-index: 100;
    cursor: pointer;
}
#nav #home{
    height: 30px;
    width:40px;
   position: relative;
    

}
#nav > img{
    height: 80px;
    width: 150px;

}
#home #line1{
    height:5px;
    width:27px;
    background-color: white;
    margin-top: 15px;
    border-radius: 2px;
}
#home #line2{
    height:5px;
    width:27px;
    background-color: white;
    margin-top:6px;
    border-radius: 2px;
  
}
#two{
    background-color: black;
    border-radius: 50px;
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px
    
}
#two #line3{
        height:30px;
        width:3px;
        background-color: #fff;
}
#two i{
       font-size: 30px;
       color:#fff;
       
}
#two img{
    height: 35px;
}

#page1 h3{
    padding-top: 150px;
    color:#FFE30A;
    font-size: 170px;
    text-align: center;
    font-family:lobo; 
    line-height:140px;
}

#page2{
    height:140%;
    width:100%;
    background-color: #FFE30A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:110px;
    overflow: hidden;
    padding-right: 180px;
    padding-top: 120px;

    
}
#page2 #left h1{
    font-size: 150px;
    font-family:lobo ;
    line-height:140px;
    margin-top:-80px;
}
#page2 #left img{
    margin-top: 50px;
    margin-left:15px;

}

#right #pics{
    position: relative;
}


#right #pics #one{
    position: absolute;
    top:-505px;
    left:-160px
}
#right #pics #two{
    position: absolute;
    top:-630px;
    left:235px;
    background-color: rgba(255, 255, 255, 0);
}

#right #pics #three{
    position: absolute;
    top:-280px;
    left:-160px;

}
#right #pics #four{
    position: absolute;
    top:-238px;
    left:330px;
    height:250px;
    width: 250px;
}
#right #pics #five{
    position: absolute;
    top:-328px;
    left:438px;
    height: 120px;
    width: 230px;
}
#page3{
    height: 330%;
    width:100%;
    background-color: #FFE30A;
    background-image: url(./black-cloud-homepage.svg);
    background-size:cover;
    position: relative;
    
}

#page3 #part1{
    height:35%;
    width:100%;
    /* background-color:red; */
    display: flex;
    justify-content: center;
    padding-top:15%;
    gap:135px;

}

#page3 #part1 #left h1{
    font-size: 150px;
    line-height: 150px;
    font-family: lobo;
    color: #FFE30A;
}

#page3 #part1 #right{
    height:500px;
    width:430px;
    /* background-color: green; */
    padding-top: 90PX;
}
#page3 #part1 #right p{
    font-size: 35px;
    font-family: lobo1;
    color: #fff;
    line-height: 40px;
}
#page3 #part1 #right button{
    padding: 15px 35px 18px 35px;
    background-color: #FFE30A;
    border-radius: 50px;
    margin-top: 40px;
    font-size: 17px;
    font-weight: 600;
    font-family: lobo1;
    transition: all ease 0.8s;
}
#page3 #part1 #right button:hover{
    background-color: black;
    border:1px solid #FFE30A ;
    color:#fff
}
#page3 #part2{
    height:65%;
    width:100%;
    /* background-color:red; */
    display: flex;
    justify-content: center;
    padding-top:10%;
    gap:80px;

}
#page3 #part2 #left{
    height: 930px;
    width:480px;
    /* background-color: green; */
}
#page3 #part2 #left p{
    font-size: 35px;
    font-family: lobo1;
    color: #fff;
    line-height: 40px;
    margin-top: 260px;
}
#page3 #part2 #left button{
    padding: 15px 35px 18px 35px;
    background-color: #FFE30A;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 600;
    font-family: lobo1;
    transition: all ease 0.8s;
}
#page3 #part2 #left button:hover{
    background-color: black;
    border:1px solid #FFE30A ;
    color:#fff
}

#page3 #part2 #left img{
    margin-left: 20px;
}



#page3 #part2 #right img{
    height:800px;
    width:550px;
    border-radius: 40px;
}
#page3 svg{
    position: absolute;
    transform: scaleX(-1.3) scaleY(-1.5) ;
    z-index:98;
    margin-top:-1100px;
    left:100px;
    font-weight: 900;
    font-family: right;
    letter-spacing: .02em;
    pointer-events: none;
    font-size: 80px;
    width: 100%;
    overflow: hidden;
    vertical-align:right; 
    font-family: lobo;
    
}
#page4 {
    height:230%;
    width:100%;
    background-image: url("./purple-cloud.svg");
    background-size: cover;
    background-color:#151400;
    position: relative;
}

#page4 #first{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */

}

#page4 #first h1{
    font-size: 140px;
    color: #FFE30A;
    font-family: lobo;
    margin-top: -200px;
    z-index: 99;
    line-height: 90px;

}
#page4 #first h1 span img{
    height: 120px;
}

#page4 #first button{
    padding: 15px 40px 20px 40px;
    background-color: #FFE30A;
    font-family: lobo1;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    margin-top: -200px;
    z-index: 99;
    
}
#page4 #first button:hover{
    background-color:#151400;
    color: #FFE30A;
    border:solid 1px #FFE30A; 

}
#page4 #elem1{
    height: 500px;
    width:380px;
    background-color:green;
    position: absolute;
    top:16%;
    left:16%;
    border-radius: 40px;
    background-image:url("https://images.prismic.io/yubo/42e1a41b-e054-4f52-a214-e3ea5e475aa4_Blog_Yubo+Horoscope.png?auto=compress,format");
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
}


#elem1 #layover h1{
    position:absolute;
    color: #fff;
    font-size:55px;
    top:70%;
    left:6%;
    
 }

 #elem1 #layover h2{
    position:absolute;
    font-size:23px;
    top:89%;
    left:6%;
    color: #fff;
    font-family: lobo1;
    font-weight: 300;
 }
 #elem1 #layover button{
    position:absolute;
    font-size:20px;
    font-family: lobo;
    font-weight: 800;
    top:3%;
    left:68%;
    padding: 8px 18px 10px 18px;
    border-radius: 5px;
    background-color:#976BFF;
    border: none;
   
 }
 #layover:hover{
    background-color: #ffe20a42;
    
 }
 #layover{
    height: 100%;
    width: 100%;
    background-color: #151400a1;
    position: relative;
    font-family: lobo;
    transition: all ease 0.5;
    cursor: pointer;
}

 #page4 #elem2{
    height: 530px;
    width:570px;
    background-color:green;
    position: absolute;
    top:0%;
    left:47%;
    border-radius: 40px;
    background-image:url("https://images.prismic.io/yubo/4e7a5333-9e65-4a60-a2d1-7b9680e002f2_Blog_CommunityTipsAndTricks.png?auto=compress,format");
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
}



#elem2 #layover button{
    position:absolute;
    font-size:20px;
    font-family: lobo;
    font-weight: 800;
    top:3%;
    left:6%;
    padding: 8px 18px 10px 18px;
    border-radius: 5px;
    background-color:#FF5252;
    border: none;
   
 }

#elem2 #layover h1{
    position:absolute;
    color: #fff;
    font-size:55px;
    top:45%;
    left:6%;
    line-height: 60px;    
 }

 #elem2 #layover h2{
    position:absolute;
    font-size:23px;
    top:89%;
    left:6%;
    color: #fff;
    font-family: lobo1;
    font-weight: 300;
 }


 #page4 #elem3{
    height: 530px;
    width:447px;
    background-color:green;
    position: absolute;
    top:38%;
    left:51%;
    border-radius: 40px;
    background-image:url("https://images.prismic.io/yubo/f34dcf26-d146-4205-ab86-46e4daef0781_Blog_Community+Building+and+Making+Friends+on+Yubo.png?auto=compress,format");
    background-position: center;
    background-size: cover;
    overflow: hidden;
   
}

#elem3 #layover button{
    position:absolute;
    font-size:20px;
    font-family: lobo;
    font-weight: 800;
    top:3%;
    left:6%;
    padding: 8px 18px 10px 18px;
    border-radius: 5px;
    background-color:#FFE30A;
    border: none;
   
 }

#elem3 #layover h1{
    position:absolute;
    color: #fff;
    font-size:55px;
    top:35%;
    left:6%;
    line-height: 60px;    
 }

 #elem3 #layover h2{
    position:absolute;
    font-size:23px;
    top:89%;
    left:6%;
    color: #fff;
    font-family: lobo1;
    font-weight: 300;
 }

 #page4 #pics img{
    position: absolute;
    top:81%;
    left:30%;
    height: 390px;
    width:550px;
    z-index: 99;

 }

 footer {
    height: 100%;
    width:100%;
    background-image: url("./footer-bg.svg");
  background-position: center;
   background-size: cover;
    background-color: #996BFF;
    position: relative;
    overflow: hidden;

 }
footer #part1{
    height: 70%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    justify-content: space-evenly;
    padding-top: 150px;
  
 }
ul{
    list-style-type: none;
    font-size: 22px;
    font-family: lobo1;
    line-height: 35px;
    
}
li{
    cursor: pointer;
    transition: all ease-out 0.8s;
    
}
li:hover{
    text-decoration:underline;
}
footer #part1 h2{
    font-size: 30px;
    margin-bottom: 20px;
    font-family: lobo;
    font-weight: 900;
    
}

footer #part2 {
    height: 5%;
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    justify-items: center;
    gap:18px;
    margin-top: 20px;

}
footer #part2 img{
    height: 50px;
    width:50px;
    cursor: pointer;
}

footer #part3{
    height: 30%;
    width:100%;
    /* background-color: #FF5252; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 80px;
}
footer #part3 #one{
    display: flex;
    font-family: lobo1;
    font-weight:100;
    gap:110px

}
footer #part3 #one #first{
    display: flex;
    font-family: lobo1;
    gap:20px;
    font-weight: 900;

}
footer #part3 #one #sec{
    font-family: lobo1;
    font-weight: 100;
    font-size: 20px;
    

}

footer #part3 h3{
    font-family: lobo;
    cursor: pointer;
    font-weight: 900;
    
}
